

.top-box {
    box-sizing: border-box;
    display: flex;
    border: black 5px solid;
    height: 250px;
    width: 968px;
    justify-content: flex-start;
    align-items: baseline;
    padding: 20px;
}
.purple-box {
    background-color: #4f2c7c;
    height: 150px;
    width: 50px;
    margin-right: 20px;
}
.green-box {
    background-color: green;
    height: 200px;
    width: 35%;
    margin-right: 20px;
}
.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: lightblue;
    margin-left: 20px;
}
.dotted-box {
    box-sizing: border-box;
    display: flex;
    border: dotted 5px black;
    height: 275px;
    width: 968px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.tan-box {
    background-color: blanchedalmond;
    height: 200px;
    width: 100%;
    box-shadow: 7px 7px  10px black;
}
.text-box {
    box-sizing: border-box;
    display: flex;
    margin-left: 242px;
    border: solid black 1px;
    height: 275px;
    width: 484px;
    box-shadow: 2px 2px 7px gray;
    justify-content: center;
    align-items: center;
}
.blue-text {
    color: rebeccapurple;
    font-weight: 60;
    font-size: 35px;
    text-align: center;
}